*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
.header{
    background: rgb(41, 40, 40);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin-bottom: 140px;
}
h1 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 35px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 18px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}
nav ul li a:hover{
    color: red;
}
.head-last{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-last a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}
.head-last .youtube{
    color: #fff;
    background: red;
    border: none;
    padding: 10px;
    margin-left: 8px;
}
.main-section{
    width: 100%;
    text-align: center;
}
.section-1 h1{
    font-size: 45px;
    margin-bottom: 30px;
    transition: color 0.5s;
}
.section-1 h1:hover{
    color: rgb(240, 8, 46);
}
.section-1 p{
    padding: 0 250px;
    color: #797979;
    margin-bottom: 20px;
}
.section-1 a{
    text-decoration: none;
    color: #fff;
    background: purple;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.section-1 a:hover{
    background: #ccc;
    color: purple;
}
.section-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-2 .my-pic{
    width: 400px;
    background: rgb(247, 222, 222);
}
.personal-info{
    padding: 0 0 0 30px;
    animation: infomove 1.5s linear ;
    animation-delay: 3s;
}
@keyframes infomove{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}
.personal-info .me{
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
}
.personal-info h2{
    color: purple;
    font-size: 30px;
    text-align: left;
    line-height: 40px;
    margin-bottom: 20px;
}
.personal-info .text-info-1{
    text-align: left;
    color: #797979;
    font-size: 15px;
    margin-bottom: 10px;
}
.personal-info .text-info-2{
    text-align: left;
    color: #000;
    font-size: 17px;
}
.section-3{
    padding: 0 50px;
}
.section-3 h4{
    text-align: left;
    color: purple;
    letter-spacing: 2px;
    font-size: 25px;
    /* margin-bottom: 5px; */
}
.section-3 h5{
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
}
.problems-section{
    padding: 0 30px;
    display: flex;
    gap: 25px;
    flex-basis: 25%;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 40px;
    transition: transform 0.5s;
}
.problems-section:hover{
    transform: translateY(-10px);
}
.problems-section h3{
    color: purple;
    margin-bottom: 8px;
}
.problem-1,.problem-2,.problem-3{
    background: rgb(250, 246, 246);
    padding: 25px;
    box-shadow: 3px 3px 8px 5px rgba(0,0,0,0.1);
}

.problem-section-2{
    padding: 0 50px;
    display: flex;
    gap: 20px;
    flex-basis: 25%;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 20px;
    transition: transform 0.5s;
}
.problem-section-2:hover{
    transform: translateY(10px);
}
.prob-1,.prob-2,.prob-3{
    background: rgb(250, 246, 246);
    padding: 25px;
    box-shadow: 3px 3px 8px 5px rgb(243, 223, 223);
}
.problem-section-2 i{
    color: purple;
    background: #ccc;
    padding: 10px;
}
.next-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.slide-1{
    height: 7px;
    width: 7px;
    border: 1px solid #797979;
    border-radius: 50%;
    margin-left: 5px;
}
.slide-2{
    height: 7px;
    width: 7px;
    border: 1px solid #797979;
    border-radius: 50%;
    margin: 0 5px;
    background: #797979;
}
.slide-3{
    height: 7px;
    width: 7px;
    border: 1px solid #797979;
    border-radius: 50%;
    margin-right: 5px;
}
.next-slider .left{
    color: purple;
    padding: 10px 5px;
    background: #ccc;
}
.next-slider .right{
    color: purple;
    padding: 10px 5px;
    background: #ccc;
}
.problem-section-2 h3{
    color: purple;
    margin-bottom: 8px;
}
.section-4{
    width: 100%;
    background-image: url(images/background.png);
    padding: 30px 0;
    margin-bottom: 100px;
}
.section-4 h2{
    color: purple;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
}
.section-4 p{
    font-size: 20px;
    color: #797979;
    margin-bottom: 30px;
}
.work-sec-1{
    padding: 0 40px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 35px;
    margin-bottom: 30px;
}
.work-sec-1 img{
    width: 400px;
    box-shadow: 3px 3px 8px 5px rgb(243, 197, 197);
    cursor: pointer;
    animation: work-1 3s linear;
    animation-delay: 6s;
    /* transition: 1s; */
}
@keyframes work-1{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateY(0);
    }
}
.work-sec-2{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.work-sec-2 img{
    width: 400px;
    box-shadow: 3px 3px 8px 5px rgb(155, 152, 152);
    cursor: pointer;
    animation: work-2 3s linear;
    animation-delay: 7s;
}
@keyframes work-2{
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateY(0);
    }
}
.section-5{
    padding: 0 30px;
    margin-bottom: 100px;
}
.section-5 h3{
    color: purple;
    text-align: center;
}
.section-5 .sec-p{
    color: #000;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}
.clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}
.review-1,.review-2{
    background: #ccc;
    padding: 20px;
    box-shadow: 3px 3px 8px 5px rgb(243, 197, 197);
    border: 2px solid rgb(226, 153, 226);
}
.client-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.client-info img{
    width: 50px;
    border-radius: 20%;
}
.client-info h2{
    color: #000;
    margin-left: 5px;
    font-size: 15px;
}
.client-text p{
    text-align: left;
}
.section-6{
    padding: 0 100px;
    margin-bottom: 100px;
}
.section-6 h3{
    color: purple;
    text-align: left;
    font-weight: 400;
    letter-spacing: 5px;
}
.section-6 .pack-p{
    color: #000;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: left;
}
.package{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.package-1,.package-2,.package-3{
    background: rgb(245, 243, 243);
    padding: 20px;
    box-shadow: 3px 3px 8px 5px rgb(0,0,0,0.1);
    width: 380px;
    height: 500px;
    /* border: 2px solid rgb(243, 174, 243); */
}
.package ul li{
    list-style: none;
    text-align: left;
    padding: 0 25px;
    line-height: 40px;
    /* margin-top: 20px; */
    margin-bottom: 8px;
}
.package-1 span{
    font-size: 55px;
    font-weight: 600;
    
}
.package-1 p{
    font-size: 20px;
    margin-bottom: 15px;
}
.package-2 span{
    font-size: 55px;
    font-weight: 600;
    
}
.package-2 p{
    font-size: 20px;
    margin-bottom: 15px;
}
.package-3 span{
    font-size: 55px;
    font-weight: 600;
}
.package-3 p{
    font-size: 20px;
    margin-bottom: 15px;
}
.package-1 p:hover{
    color: purple;
}
.package-2 p:hover{
    color: purple;
}
.package-3 p:hover{
    color: purple;
}
.package a{
    text-decoration: none;
    margin-top: 15px;
    padding: 15px 100px;
    background: rgb(44, 43, 43);
    color: #fff;
    margin-top: 5px;
    border-radius: 8px;
    display: block;
    transition: 0.5s;
}
.package a:hover{
    background: rgb(228, 115, 228);
}
.section-7{
    display: flex;
    padding: 0 100px;
    margin-bottom: 100px;
}
.form{
    width: 585px;
    height: 400px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background: rgb(243, 240, 240);
    padding: 30px 40px;
}
#name{
    outline: none;
    border: none;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 15px;
}
#email{
    outline: none;
    border: none;
    height: 45px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 15px;
}
#number{
    outline: none;
    border: none;
    height: 45px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 15px;
}
#text-box{
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 20px;
    resize: none;
}
.form p{
    text-align: left;
    background: purple;
    border: none;
    outline: none;
    color: #fff;
    /* padding: 15px 20px; */
    height: 40px;
    width: 60px;
    padding: 7px 0 0 9px;
    border-radius: 4px;
    transition: 0.5s;
}
.form p:hover{
    background: none;
    border: 2px solid purple;
    color: #000;
    padding-top:5.5px ;
}
.form-text{
    align-self: center;
    padding-left: 50px;
}
.form-text h3{
    color: purple;
    text-align: left;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.form-text p{
    color: #797979;
    font-size: 20px;
}
.social-links{
    text-align: center;
    width: 100%;
    height: 120px;
    background: lightblue;
    
}
.social-links i{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688; 
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition:transform 0.5s;
    
}
.social-links i:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-15px);
    border-radius: 15px;
}
.social-links p{
    margin-top: 8px;
    /* color: #fff; */

}